<div class="input-group">
  <input name=items[{{num}}][description] type="text" class="form-control" value="{{description}}">
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
  <input name=items[{{num}}][unit_price] type="number" class="form-control" value="{{unit_price}}">
  <input name=items[{{num}}][quantity] type="number" class="form-control" value="{{quantity}}">
</div>